<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Planie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>6f6f5f24b1ffe247d0fbd81583f290add53a4a80</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.geonames.org</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Heavy.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>SF-UI-Display-Thin.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
		<string>SF-UI-Text-Bold.otf</string>
		<string>SF-UI-Text-BoldItalic.otf</string>
		<string>SF-UI-Text-Heavy.otf</string>
		<string>SF-UI-Text-HeavyItalic.otf</string>
		<string>SF-UI-Text-Light.otf</string>
		<string>SF-UI-Text-LightItalic.otf</string>
		<string>SF-UI-Text-Medium.otf</string>
		<string>SF-UI-Text-MediumItalic.otf</string>
		<string>SF-UI-Text-Regular.otf</string>
		<string>SF-UI-Text-RegularItalic.otf</string>
		<string>SF-UI-Text-Semibold.otf</string>
		<string>SF-UI-Text-SemiboldItalic.otf</string>
		<string>SF-UI-Text-Ultrathin.otf</string>
		<string>SF-UI-Text-UltrathinItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
